

body {

    text-align: center;
    background-size: cover;
    font-family: 'Spartan', sans-serif;
    color: fuchsia;
}

.title {
    font-size: 100px; 
}
.subtitle {
    font-size: 70px; 
}

.header {
    font-size: x-large;
}

.submitButton {
    color: #b8dfff;
    border: solid #b8dfff;
    font-size: xx-large;
    background-color: #1c1f45;
    border-radius: 10px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 15px;
    opacity: 65%;
}
/*
.submitButton:hover {
    opacity: 100%;
}*/

.inputHeader {
    font-size: 100px;
}

.label {
    margin-right: 200px;
    margin-left: 200px;
    align-content: center;
}

.longForm {
    align-content: center;
    display: flow;
}

.resultHeader {
    font-size: 55px;
}

.resultList {
    display: inline-block;
    font-size: 22px;
    text-shadow: -1px 0 #1c1f45, 0 1px #1c1f45, 1px 0 #1c1f45, 0 -1px #1c1f45;
    width: 1200px;
    border: 5px #b8dfff;
}

.errorMessage {
    font-size: xx-large;
    color: red;
    text-shadow: -1px 0 #1c1f45, 0 1px #1c1f45, 1px 0 #1c1f45, 0 -1px #1c1f45;
}

.statement {
    font-size: xx-large;
}

/******************************************/

a, a:active, a:focus, a:visited { 
	text-decoration: none; 
	color: #1b262c;
	padding-bottom: 10px;
}

/*a:hover {
 	text-decoration: none;
 	color:#ed6663;
 	padding-bottom: 5px;
 	border-bottom: solid 3px #ed6663;
}*/

.row {
	
	width: 100%;
	align-content: center;
	justify-content: space-around;
	
}
.titlerow {
	display: flex;
	height: 100%;
}

.col {
	display: flex;
	align-content: center;
	vertical-align: center;
	flex-direction: column;
	justify-content: space-around;
}

.formbutton {
	padding: 10px;
	margin-bottom: 30px;
	outline: none;
	font-size: 25px;

	background-color: #FFFFFF;
	border: solid #FFFFFF 3px;
	border-radius: 25px;
	
	color: #1b262c;
}

.formbutton:hover {
	border: solid #ed6663 3px;
	color: #ed6663;
}

.inputbox {
	outline: none;	
	border-style: solid;
	border-color: lightgray;

	border-radius: 10px;
	font-size: 15px;
	width: 250px;
	height: 20px;
	padding: 5px;
	margin-bottom: 50px;
}

.submitcolor:hover {
	border: solid #5743E8 3px;
	color: #5743E8;
}

#successbox {
	margin:0;
	display: flex;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #11CC21;
	
	background-color: #F8FFC0;
	border: 2px solid #11CC21;
	border-radius: 25px;

	padding-right: 15px;
	padding-left: 15px;

	display: inline-block;
}

#errorbox {
	margin:0;
	display: flex;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #FF2828;
	
	background-color: #F2DCE0;
	border: 2px solid #FF2828;
	border-radius: 25px;

	padding-right: 15px;
	padding-left: 15px;

	display: inline-block;
}


#starLink {
	font-size: 50px;
}
#timdbLink {
	font-size: 50px;

}

.impword {
	color: #99181E;
}

#resultsContainer {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	vertical-align: center;
	margin-top: 0;
	padding-top: 0;
}

table {
	margin:0px;
  	font-family: arial, sans-serif;
 	border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}
th {
	justify-content: center;
	align-content: center;
}


tr:nth-child(even) {
  background-color: #F0F0F0;
  
}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}
