body {
	font-family: 'Verdana';
	background-color: #233342;

}

.mainHeader {
	letter-spacing: 5px;
	font-family: 'Verdana';
}

.artist_name {
	font-family: 'Verdana';
	/*font-weight: bold;*/
	width: 10px;
	align-self: center;
	margin-right: 40px;
	margin-top: -10px;

}

.display{
	font-family: 'Verdana'

}

.names{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	/*align-self: center;*/

}

.nav-bar{
	width: vh;
	height:60px;
	background-color: #b35340;
	padding: 20px;




}

.buttons{
	width: vh;
	height:40px;
	background-color: #ce8054;
}

.unitunes{
	font-family: 'Verdana';
	font-weight: bold;
	color: white;
	margin-top: -20px;

}


.music{
	margin-top: -20px;
	width: 70px;
	/*height: vh;*/
}

.mainDiv {
	width: 60vh;
	height:60vh;
	margin-top: 30px;
	align-self: center;
	text-align: center;
	align-content: center;
	/*background-color:#3D455C;*/
	flex-direction: column;
	display: flex;
	white-space: normal;
	color:white;
	padding: 100px;
	justify-content: space-between;
	/*border: 5px solid #586028;*/

	background-color: #b35340;
	border:5px solid #ce8054;
	margin-top: 80px;



}

.with-artist{
	display: flex;
	flex-direction: column;
	/*align-self: center;*/
}

.container {

	flex-direction: column;
	align-content: center;
	display: flex;
	align-self: center;
	text-align: center;
	background: #233342;
	height: vh;
	width:vh;
	/*height: 100vh;*/

}

.album_art{
	align-self: center;
	width:300px;
	height:300px;
	margin-top: 10px;
}

.record{
	width:50px;
	height:50px;
	align-self: center;
	animation: rotation 2s infinite linear;
}

.col {
	align-self: center;
	display: flex;
	flex-direction: row;
}


.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    align-self: center;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

/*.gradient-button-1 {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)}*/
.gradient-button-1{
	margin-top: 40px;
	background-color: black
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}